
.products_container{
  display: flex;
  justify-content: center;
  font-style: italic

}

.products{
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background: #dae4e5;
  opacity: 0.9;
  padding: 20px;
  font-style: italic
}

.product_item{
  width: 25%;
  border: 1px solid #858585;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10px 10px;
  margin: 5px;
  font-style: italic
}

.product_item img{
  width: 100%;
  max-width: 128px;
  height: auto;
  box-shadow: 0 0 10px #2b4a4a;
  margin-bottom: 10px;
  font-style: italic
}

.product_item a{
  text-decoration: none;
  color: black;
  font-style: italic
}

.product_item .product_price{
  font-weight: normal;
  font-style: italic

}

@media screen and (max-width: 576px){
  .product_item{
    width: 100%;
    font-style: italic
  }
}

@media screen and (min-width: 576px) and (max-width: 992px){
  .product_item{
    width: 30%;
    font-style: italic
  }
}

