.header_container{
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #2b4a4a;
}

h4{
  margin: 0px;
}

.header_columns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.col-1{
  display: flex;
  align-items: center;
}

.col-1 img{
  width: 64px;
  height: 64px;
  margin-right: 10px;
  border-radius: 50%;
}

.col-1 .header_title h3{
  font-weight: bold;
  margin: 0px;

}

.col-1 .header_title h3,h4{
  font-weight: normal;
  color:white;
}

.col-2 h4{
  font-weight: normal;
  margin: 0px;

}



.col-2 .social{
  display: flex;
  justify-content: space-between;
}

.col-2 .social a{


}



.col-3 h4{


}

.col-3 button{
  padding: 10px 0;
  border-bottom: 2px solid #94c0c2;
  border-top: 2px solid #94c0c2;
  border-left: 2px solid #94c0c2;
  border-right: 2px solid #94c0c2;
  width: 100%;
  color: #ffffff;
  background: #296e6b;
  border-radius: 10px;
  font-family: 'Bookman Old Style';
}

.col-3 button:hover{
  background: #69a4a2;
}


