<div class="header_container">
  <div class="header_columns">
    <div class="col-1 header_column">
      <img src="https://sun9-3.userapi.com/c206524/v206524517/d401b/luGw0SXpl6A.jpg" alt="logo">
      <div class="header_title">
        <h3>'DBS' Store</h3>
        <h4>Интернет-магазин кроссовок </h4>
      </div>
    </div>
    <div class="col-2 header_column">
      <h4>Мы в соц. сетях</h4>
      <div class="social">
        <a href="https://www.instagram.com/dbsstore2020/"><img src="../../assets/top-bar/social/instagram.png" alt=""><img src="" alt=""><img src="" alt=""></a>
        <a href="#"><img src="../../assets/top-bar/social/facebook.png" alt=""><img src="" alt=""><img src="" alt=""></a>
        <a href="#"><img src="../../assets/top-bar/social/whatsapp.png" alt=""><img src="" alt=""><img src="" alt=""></a>
      </div>
    </div>
    <div class="col-3 header_column">
      <h4>+7 700 983 62 42</h4>
      <button>Заказать звонок</button>
    </div>
  </div>
</div>
